@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@theme {
  --font-roboto: "Roboto", sans-serif; 
}
:root {
  --color-primary: #fc6551;  /* blue */
  --color-secondary: #f59e0b; /* amber */
  --color-bg: #fff3f3;        /* white background */
  --color-text: #111827;      /* dark gray text */
  --color-header: #fffefe;
}

[data-theme="dark"] {
  --color-primary: #2563eb;   /* darker blue */
  --color-secondary: #d97706; /* darker amber */
  --color-bg: #1e293b;        /* dark background */
  --color-text: #f9fafb;      /* light text */
}

/* Customize the track, thumb, and width for WebKit browsers */
.custom-scrollbar {
    /* The entire scrollbar area */
    scrollbar-width: thin; /* Firefox (Non-standard property) */
    scrollbar-color: #B000FF #1A1324; /* Firefox (Thumb color, Track color) */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #1A1324; /* Use your stellar-dark color */
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #B000FF; /* Use your stellar-accent color for the thumb */
    border-radius: 10px;
    border: 2px solid #1A1324; /* Padding around the thumb */
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-pop-in {
  animation: popIn 1.3s ease-out forwards;
}